.image-bg-we-are {
	background: linear-gradient(#f4623a75 0%, #6c757d 100%),
		url(../assets/weare.jpg);
	background-position: center;
	background-attachment: local;
	background-size: cover;
}
.white-text {
	color: rgba(255, 255, 255, 0.85) !important;
}
.portfolio-box {
	height: 100%;
	min-height: 400px;
	background-size: cover;
}
.pb-1 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/1.jpg);
}
.pb-2 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/2.jpg);
}
.pb-3 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/3.jpg);
}
.pb-4 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/4.jpg);
}
.pb-5 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/5.jpg);
}
.pb-6 {
	background-image: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.4) 0%,
			rgba(92, 77, 66, 0.4) 100%
		),
		url(../assets/img/portfolio/fullsize/6.jpg);
}
.add-text {
	text-align: justify;
}
.add-block {
	border-left: 1px solid #cccccc3d;
	border-right: 1px solid #cccccc3d;
}
